.header {
    width: 100%;
    background-color: $dark-blue-color;
    &__logo {
        background-color: $white-color;
        grid-column: 1 / span 2;
        align-self: stretch;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto-Black";
        font-size: 2.5rem;
        line-height: 1;
        color: $green-color;
        p {
            margin:0;
        }
    }
    &__btn {
        grid-column: 11/span 2;
        padding: 0 20px;
        justify-self: end;

    }
    .nav {
        grid-column: 3 /span 8;
        text-align: center;
        justify-self: center;
        ul {
            list-style-type:none;
            padding: 0;
            li {
                display: inline-block;
                margin: 0 20px;
            }
        }
        &__item {
            font-size: 1.5rem;
            font-family: 'Roboto-regular';
            line-height: 3.2rem;
            &:hover {
                cursor:pointer;
                font-weight:bold;
            }

        }
    }
    &__burger {
        display: none;
        grid-column: 10 / span 3;
        justify-self: end;
        flex-direction: column;
        width: 45px;
        height: 42px;
        margin-right: 10px;
        cursor: pointer;
        margin-bottom: 5px;
        span {
            display: block;
            margin-top: 5px;
            height: 9px;
            width: 100%;
            background: $green-color;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }
    }
}
.btn {
    text-transform: uppercase;
    background-color: $green-color;
    color: $white-color;
    border: none;
    border-radius: 3px;
    font-size: 2rem;
    line-height: 1.6;

    &:hover {
        cursor:pointer;
        background-image: linear-gradient( 90deg, $green-color 0%, lighten($green-color, 10%) 100%);

    }
}

.welcome {
    width: 100%;
    height: 420px;
    position: relative;
    .slider {
        overflow:hidden;
        position: relative;
        left:0;
        width: 100%;
        height:100%;
        margin:0;
        padding: 0;
   
        &__item {
            display: inline-block;
            width: inherit;
            height: 100%;
            
            opacity:1;
        }    
        @for $j from 1 through 3 {
            .item_#{$j} {
               background-image: url(../images/banner_#{$j}.png);
                
            }
        }
        &__text {
            grid-column: 6 / span 6;
            display: flex;
            flex-direction:column;
            padding: 0 45px;
            justify-content: center;
            align-items: center;
            font-size: 5.5rem;
            color: $gray-color;
            p {
                margin: 0 0 50px;
                font-family: "Roboto-Thin";

            }
        }
        &__btn {
            padding: 10px 25px;
        }
        
    }
    .arrows {
        position: absolute;
        top: 50%;
        left:0;
        width: 100%;
        transform: translateY(-50%);
        background-color: transparent;
        .container {
            justify-items: center;
        }
    }
}
.main {
    padding: 65px 0 80px;
    &__text {
        grid-column: 1 /span 6;
        font-family:"Roboto-Light";
        h3 {
            font-size: 35px;
            margin: 0 0 60px;
            color: $dark-blue-color;
        }
        p {
            margin: 0;
            font-size: 15px;
            line-height: 25px;
            color: $gray-text-color;
        }
    }
    &__img {
       background-image: url(../images/cup.png);

        grid-column: 8 /span 5;
    }
}
.form {
    width: 100%;
    background-image: url(../images/plate.png);
    background-position: 50% 50%;
    padding: 80px 0;
    &__wrapper {
        color: $gray-color;
        grid-column: 4/span 6;
        background: $white-color;
        border-radius: 3px;
        padding: 30px 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 10px;
        form {
            grid-column: 2/span 4;
            text-align: center;
            legend {
                font-family:"Roboto-Thin";
                padding-bottom: 25px;
                font-size: 3.5rem;
            }
            input, select {
                width: 100%;
                outline: none;
                font-family:"Roboto-Light";
                font-size: 2rem;
                padding: 15px 20px;
                background-color: $gray-background-color;
                border-width: 1px;
                border-style: solid;
                border-color: $gray-border-color transparent transparent transparent;
                border-radius: 3px;
                margin-bottom: 10px;
                -webkit-appearance: none;
                appearance: none;
            }
            input {
                &:focus {
                    border-color: $green-color transparent transparent transparent;
                }
            }
           
            button {
                font-size: 2rem;
                padding: 15px 30px;
            }
        }

    }
}
footer {
    width: 100%;
    background-color: $dark-blue-color;
    text-align: center;
    p {  
        font-family:"Roboto-Light";
        margin: 10px auto;
        font-size: 1.5rem;
        line-height: 3.2rem;
        color: $white-color;
        display: inline-block;

    }
}
%close {
    position: absolute;
    content: '';
    height: 8px;
    width: 100%;
    border-radius: 4px;
    background-color: $green-color;
    display: block;
    top: 50%;
    transform-origin: 50% 50%;  
    transform: translateY(-50%) rotate(45deg) ;
    transition: all 1s ease-out 0.5s;
}
.modal {
    position: fixed;
    display: flex;
    width: 100%;
    height: 150px;
    z-index: 10;
    background-color: $dark-blue-color; 
    top: 0;
    left: 0;
    padding: 5%;
    color: white;
    transition: all .3s;
    visibility: hidden;
    transform: translateY(-100%);
    &__btn {
        height: 40px;
        width: 40px;
        position: absolute;
        left: 80%;
        &::after {
            @extend %close;
        }
        &::before {
            @extend %close;
            transform-origin: center center;
            transform: translateY(-50%) rotate(-45deg);
        }
    }
    &.opened {
        visibility: visible;
        opacity: 0.9;
        justify-content: center;
        transform: translateY(0) ;
        ul {
            list-style-type: none;
            text-align: center;
            padding: 0;
            margin: 0;
            li {
                display: block;
                margin: 10px auto;
                font-size: 1.8rem;
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
}

.slick-list.draggable, .slick-track {
    height:100%;
}
.slick-arrow {
    color:transparent;
    position:static;
}
.slick-prev {
    grid-column: 1 / span 1;
    
}
.slick-next {
    grid-column: 12 / span 1;
}
.slick-prev:before, .slick-next:before {

     color: $dark-blue-color;
}
.slick-dots {
    bottom: 25px;
    li button {
        border-radius: 50%;
        color: transparent;
        background-color:$dark-blue-color;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
        &::before {
            font-size: 0;
            line-height: 0;
        }
    }
    li.slick-active button {
        opacity:1;
    }
}
.selectric-wrapper {
    outline: none;
    font-family:"Roboto-Light";
    font-size: 2rem;
    padding: 15px 20px;
    background-color: $gray-background-color;
    border-width: 1px;
    border-style: solid;
    border-color: $gray-border-color transparent transparent transparent;
    border-radius: 3px;
    margin-bottom: 10px;
    
    .selectric {
        border: none;
        background-color: transparent;
        width: 100%;
        position: static;
        text-align: start;
        
    }
    .selectric-items {
        border: none;
        background-color: $white-color;
        width: 100%!important;
        outline: none;
        border-radius: 3px;
        border: 1px solid $gray-border-color;
        .disabled {
            display: none;
        }
        li {
            font-size: 2rem;
            padding: 15px 20px;
            border-bottom: 1px solid $gray-border-color;
            text-align: start;

        }
    }

    
}

.selectric-button {
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    right:0;
    top:0;
    padding:0;
    -webkit-appearance: none;
    appearance: none;
}